In [1]:
import pandas as pd

In [2]:
pd.read_csv("counterfactually-augmented-data-master/sentiment/orig/train.tsv",sep="\t")

     Sentiment                                               Text
0     Negative  Long, boring, blasphemous. Never have I been s...
1     Negative  Not good! Rent or buy the original! Watch this...
2     Negative  This movie is so bad, it can only be compared ...
3     Negative  Spanish horrors are not bad at all, some are s...
4     Negative  I've seen about 820 movies released between 19...
...        ...                                                ...
1702  Positive  Robert A. Heinlein's classic novel Starship Tr...
1703  Positive  Well, I have finally caught up with "Rock 'N' ...
1704  Positive  Bacall does well here - especially considering...
1705  Positive  Eddie Murphy plays Chandler Jarrell, a man who...
1706  Positive  ZP is deeply related to that youth dream repre...

[1707 rows x 2 columns]